body {
    //base colors
    --base: #020d14;
    --elevated: #082539;
    --lighten: rgba(255, 255, 255, 0.1);
    --darken: rgba(0, 0, 0, 0.1);

    //system accents
    --blue: #2f7bff;
    --green: #50c753;
    --indigo: #5b57d9;
    --orange: #f79400;
    --pink: #f42952;
    --purple: #aa53e1;
    --red: #f43827;
    --teal: #6dc9fc;
    --yellow: #facb00;

    //accent colors
    --accent: #d39e6f;
    --base_accent: rgba(0, 0, 0, 0.25);
    --elevated_accent: rgba(0, 0, 0, 0.25);

    //text colors
    --text_primary: rgba(220, 220, 220, 1);
    --text_secondary: rgba(160, 160, 160, 1);
    --text_tertiary: rgba(140, 140, 140, 1);
    --text_quaternary: rgba(100, 100, 100, 1);

    //specific colors
    --border: rgba(0, 0, 0, 0.075);
    --backdrop: rgba(0, 0, 0, 0.05);
    --box_shadow: 0 20px 70px rgba(0, 0, 0, 0.25);
    --box_shadow_light: 0 4px 14px rgba(0, 0, 0, 0.1);
    --input_border: rgba(0, 0, 0, 0.15);
    --scrollbar: rgba(0, 0, 0, 0.05);
    --scrollbar_thumb: rgba(0, 0, 0, 0.1);

    //animation cubic bezier
    --cubic_bezier: cubic-bezier(0.28, 0.44, 0.07, 1.22);
}
